*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#login{
    background-color: #212121;
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    >h1 {
        margin-bottom: 20px;
        font-size: 50px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        border-bottom: 5px #fff solid;
        color:#fff;
    }
    > form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:350px;
        > p{
            align-self:flex-start;
            color:#bbb;
            margin-bottom: 10px;
        }
        >input{
            width:100%;
            height: 40px;
            border:1px #aaa solid;
            background-color: #121212;
            outline: none;
            margin:8px 0;
            padding:0 5px;
            color:#fff;
            font-size: 16px;
        }
       > .link{
           width:100%;
           display: flex;
           align-items: center;
           justify-content: space-between;
           padding:10px 0;
            > .registerlink{
                color:#fff;
                font-weight: 600;
            }
            > #forgettext{
                color:#aaa;
            }
       }
        >.submit-btn{
            color:#121212;
            font-weight: 600;
            font-size: 16px;
            cursor: pointer;
            background-color: #fff;
            height: 50px;
        }
    }
}
#index{
    background-color: #212121;
    display: flex;
    width:100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    > #content{
        width:900px;
        height: 90vh;
        margin:0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        > h2{
            color:#fff;
        }
    }
}
#header{
    position: fixed;
    top: 0;
    left:0;
    width:350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(0, 0, 0, .5);
    transition:all .5s ease;
    z-index: 999999;
    &.close{
        left:-350px;
    }
    >#menu{
        position: absolute;
        top: 0px;
        right:-60px;
        width:60px;
        height: 60px;
        background-color: #B80816;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        > i{
            color:#fff;
            font-size: 36px;
        }
    }
    >img{
        width:200px;
        height: auto;
        display: block;
        margin:10px auto;
    }
    >h2{
        color:#fff;
        text-align: center;
    }
    > .link{
        display: flex;
        flex-direction: column;
        margin:15px 0;
        > a{
            color:#fff;
            text-decoration: none;
            border-bottom:1px #fff solid;
            padding: 15px 5px;
            font-weight: 600;
            &:hover{
                background-color: #bbb;
                color:#000;
            }
        }
    }
    
}

#news{
    background-color: #212121;
    display: flex;
    width:100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    color:#fff;
    padding: 30px 0;
    .news{
        display: flex;
        flex-direction: column;
        width:900px;
    }
    .news > a{
        text-align: center;
        background-color: #14844c;
        font-weight: 600;
        text-decoration: none;
        width:150px;
        min-height: 45px;
        line-height: 45px;
        display: block;
        color:#fff;
        font-weight: 600;
        margin:auto;
        margin-bottom: 30px;
    }
    .news .list{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px #ccc solid;
        padding: 10px 0;
    }
    .news .list > img{
        width:220px;
        height: 150px;
        object-fit: cover;
    }
    .news .list .content{
        display: flex;
        flex-direction: column;
        align-items: space-between;
        padding: 15px;
        width:600px;
        height:90px;
    }
    .news .list .content > span{
        color:#aaa;
        font-size: 14px;
    }
    .news .list .content > .contentText{
        width:500px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        height:90px;
    }
    .btnbox{
        display: flex;
        flex-direction: column;
    }
    .btnbox a, .btnbox button {
        min-width:100px;
        height: 35px;
        display: block;
        border:none;
        outline: none;
        background-color: #14844c;
        text-align: center;
        line-height: 35px;
        color:#fff;
        text-decoration: none;
        margin:5px 0;
        cursor: pointer;
        font-size: 16px;
    }
}

#newCreate{
    background-color: #212121;
    color:#fff;
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        text-align: center;
    }
    #beforesmallImg{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        >img{
            width:100px;
            height: 80px;
            object-fit: cover;
            margin:5px 5px;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:500px;
        margin:auto;
    }
    form >input , form textarea{
        width:100%;
        margin:10px 0;
        height: 30px;
    }
    form > label{
        display: flex;
        align-items: center;
    }
    form textarea{
        height: 200px;
        resize: none;
    }
    form >div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #uplaodImgBox{
        width:100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left:0;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        z-index: 999999999999999999;
    }
    #uplaodImgBox > .box{
        width:500px;
        height: 400px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        position:relative;
    }
    #uplaodImgBox > .box >form{
        width:100%;
    }
    #uplaodImgBox > .box >form> input{
        width:80%;
    }
    #uploadImgBtn{
        position:absolute;
        top: 10px;
        left:35px;
        display: block;
        width:100px;
        height: 35px;
        background-color: #333;
        color:#fff;
        text-align: center;
        line-height: 35px;
        font-weight: 600;
        cursor: pointer;
    }
    #uploadImgClose, #selectImgClose{
        position:absolute;
        top: 10px;
        right:10px;
        cursor: pointer;
        font-size: 24px;
        color:#000;
    }
    
    #selectImgBox{
        width:100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left:0;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    #selectImgBox > .box{
        width:800px;
        height: 500px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        position:relative;
        overflow-y:scroll; 
        padding-top: 30px;
        
    }
    #selectImgBox > .box > .imgbox{
        display: flex;
        flex-wrap: wrap;
        width:100%;
        height: auto;
        padding: 10px;
        margin:0 auto;
    }
    #selectImgBox > .box > .imgbox >.imgboxlist{
        position: relative;
    }
    #selectImgBox > .box > .imgbox >.imgboxlist:hover >a {
        opacity: 1;
        transition: .5s;
    }
    #selectImgBox > .box > .imgbox >.imgboxlist>a{
        position: absolute;
        top: 10px;
        right:10px;
        color:#000;
        font-size: 20px;
        opacity: 0;
        cursor: pointer;
    }
    #selectImgBox > .box > .imgbox >.imgboxlist>:hover{
        color:#f00;
        transition: 0s;
    }
    #selectImgBox > .box > .imgbox >.imgboxlist > img{
        width:220px;
        height: 150px;
        margin:5px;
        object-fit: cover;
        cursor: pointer;
    }
    #chkSelectBtn, #chkDeleteBtn{
        display: block;
        width:100px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        background-color: #333;
        color:#fff;
        font-weight: 600;
        text-decoration: none;
        font-size: 16px;
        margin:25px 10px;
    }
    #beforeImg{
        width:150px;
        height: 150px;
        object-fit: cover;
    }
    #selectImgBtn,#selectSmallImgBtn{
        width:110px;
        height: 35px;
        line-height: 35px;
        background-color: #fff;
        color:#333;
        text-align: center;
        font-weight: 600;
        display: block;
        cursor: pointer;
        margin-bottom: 8px;
    }
    .btnBox{
        display: flex;
    }
    #chkSelectBtn.disabled, #chkDeleteBtn.disabled{
        background-color: #ccc;
        cursor: default;
    }
    #selectSmallImgBox{
        position: fixed;
        top: 0;
        left:0;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 100vh;
        display: none;
        >.box{
            width:800px;
            height: 700px;
            background-color: #fff;
            overflow-y: scroll;
            display: grid;
            padding: 50px 0;
            grid-template-columns: 250px 250px 250px;
            grid-template-rows: 250px 250px 250px;
            grid-column-gap: 10px;
            grid-row-gap: 1em;
            position: relative;
            > i {
                position: absolute;
                top: 10px;
                right:10px;
                font-size: 24px;
                cursor: pointer;
                color:#000;
            }
            > .imgboxlist{
                width:250px;
                height: 250px;
                > .smallimglist{
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;
                    &.click{
                        border:3px #f00 solid
                    }
                }
            }
            > #chkSelectsmallBtn{
                position: absolute;
                top: 5px ;
                left:10px;
                width:150px;
                height: 35px;
                background-color: #212112;
                color:#fff;
                text-align: center;
                line-height: 35px;
                text-decoration: none;
                font-weight: 600;
            }
        }
    }
}

.error{
    width:100%;
    height: 100vh;
    background-color: #212121;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > a{
        text-decoration: none;
        color:#B80816;
        font-size: 18px;
        font-weight: 600;
    }
}

#newsUpdate{
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color:#fff;
    padding: 50px 0;
    > form{
        width:600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        >span{
            display: block;
            width:120px;
            height: 35px;
            background-color: #f1f1f1;
            color:#222;
            font-weight: 600;
            text-align: center;
            line-height: 35px;
            cursor:pointer;
        }
        >label{
            display: flex;
            align-items: center;
        }
        >img{
            width:250px;
            height: 200px;
            object-fit: contain;
            margin:10px 0;
        }
        >p{
            font-weight: 600;
            margin-top: 10px;
        }
        >input{
            width:100%;
            margin:10px 0;
            height: 30px;
        }
        >textarea{
            width:100%;
            margin:10px 0;
            resize: vertical;
        }
        > #smallimglist{
            display: flex;
            width:100%;
            flex-wrap: wrap;
            justify-content: flex-start;
            > img{
                width:140px;
                height: 140px;
                object-fit: cover;
                margin:5px;
                cursor: pointer;
                position: relative;
            }
        }
        > .createSmallImgBtn{
            width:150px;
            height: 40px;
            display: block;
            text-align: center;
            line-height: 40px;
            background-color: #f1f1f1;
            color:#222;
            font-weight: 600;
            margin-bottom: 15px;
            cursor: pointer;
        }
        >.btnBox {
            display: flex;
            justify-content: center;
            > input[type='submit']{
                width:150px;
                height: 40px;
                outline: none;
                border:none;
                background-color: #14844C;
                color:#fff;
                font-weight: 600;
                cursor: pointer;
                font-size: 16px;
                margin:0px 10px;
            }
            >a{
                width:150px;
                height: 40px;
                background-color: #f1f1f1;
                color:#222;
                font-weight: 600;
                cursor: pointer;
                font-size: 16px;
                text-align: center;
                line-height: 40px;
                text-decoration: none;
                margin:0px 10px;
            }
        }
        
        
       
    }
    >#updateImgBox{
        width:100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left:0;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        >.box{
            width:800px;
            height: 500px;
            overflow-y: scroll;
            background-color: #fff;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            > i{
                position: absolute;
                top:10px;
                right:10px;
                font-size: 24px;
                cursor: pointer;
                color:#000;
            }
            >.imgbox{
                min-height: 400px;
            }
            >.imgbox img{
                width:200px;
                height: 200px;
                object-fit: cover;
                margin:10px;
                cursor: pointer;
                &.click{
                    border:2px #000 solid;
                    padding: 5px;
                }
            }
            > #selectImg{
                display: block;
                width:120px;
                height: 35px;
                background-color:#222;
                color:#fff;
                font-weight: 600;
                text-align: center;
                line-height: 35px;
                margin-left: 10px;
                text-decoration: none;
            }
        }
    }
    > #createSmallImgBox{
        position: fixed;
        top: 0;
        left:0;
        width:100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        > .box{
            width:800px;
            height: 600px;
            background-color: #fff;
            overflow-y:scroll ;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            padding: 50px 0;
            > i{
                position: absolute;
                top:10px;
                right:10px;
                font-size: 24px;
                color:#000;
                cursor: pointer;
            }
            > #createSmallBtnChk{
                position: absolute;
                top:10px;
                left:10px;
                display: block;
                width:150px;
                height: 35px;
                background-color: #212121;
                color:#fff;
                text-align: center;
                line-height: 35px;
                font-weight: 600;
                cursor: pointer;
            }
            > img{
                width:220px;
                height: 220px;
                object-fit: cover;
                margin:10px;
                cursor: pointer;
                &.click{
                    border:3px #f00 solid;
                }
            }
        }
    }
}

#uploadImg{
    background-color: #212121;
    color:#fff;
    padding: 30px 0;
    > #loading{
        position: fixed;
        top: 0;
        left:0;
        width:100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99999999999999999999999;
        display: none;
        >img{
            width:80px;
        }
    }
    >form{
        width:500px;
        margin:0px auto;
        display: flex;
        flex-direction: column;
        > input{
            margin:15px 0;
        }
        >input[type="submit"]{
            background-color: #f1f1f1;
        }
    }
    .photo{
        width:900px;
        margin:auto;
        display: grid;
        grid-template-columns: 280px 280px 280px;
        grid-template-rows: 280px 280px 280px;
        grid-column-gap: 10px;
        grid-row-gap: 1em;
        .imglist{
            width:280px;
            height: 280px;
            position: relative;
            >img{
                width:100%;
                height: 100%;
                object-fit: cover;
            }
            > a{
                position: absolute;
                top: 5px;
                right:5px;
                font-size: 20px;
                color:#f00;
            }
        }
        
    }
}
#index_banner{
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #212121;
    color:#fff;
    padding: 50px 20px;
    flex-direction: column;
    > a{
        color:#fff;
    }
    .imgBox{
        display: flex;
        flex-direction: column;
        width:100%;
        >.imgList{
            display: flex;
            align-items: center;
            border-bottom:1px #ddd solid;
            padding: 10px 0;
            >img{
                width:300px;
                height: 200px;
                margin-right: 15px;
                object-fit: cover;
            }
            > a{
                color:#fff;
            }
        }
    }
}
#create_index_banner{
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color:#fff;
    padding: 50px 0;
    form{
        display: flex;
        flex-direction: column;
        width:800px;
        margin:auto;
        > #selectBannerBoxBtn{
            width:120px;
            height: 35px;background-color: #f1f1f1;
            color:#212121;
            text-align: center;
            line-height: 35px;
            font-weight: 600;
            cursor: pointer;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            align-self:center;
        }
        >#createImgBox{
            display: flex;
            justify-content: center;
            >div{
                width:300px;
                img{
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                }
            }  
        }
        >.cretatBannerBtn{
            width:150px;
            height: 35px;
            border:none;
            outline: none;
            background-color: #f1f1ff;
            color:#212121;
            font-weight: 600;
            cursor: pointer;
            align-self:center;
            margin-top: 15px;
            font-size: 16px;
        }
    }
   
    >#selectBannerBox{
        width:100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left:0;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        // display: none;
        
        > .box{
            width:800px;
            height: 600px;
            overflow-y: scroll;
            background-color: #fff;
            position: relative;
            padding:50px 10px;
            >i{
                position: absolute;
                top: 10px;
                color:#000;
                right:10px;
                font-size: 24px;
                cursor: pointer;
            }
            >img{
                width:180px;
                height: 150px;
                object-fit: cover;
                cursor: pointer;
                &.click{
                    border:4px #f00 solid;
                }
            }
            > .btn{
                width:100%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom:0;
                left:0;
               
                >button{
                    width:120px;
                    height: 30px;
                    outline: none;
                    border:none;
                    background-color: #333;
                    color:#fff;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    }
}