#contact{
    .banner{
        width:100%;
        height: 800px;
        > img{
            width:100%;
            height: 500px;
            object-fit: cover;
        }
        .box{
            display: flex;
            justify-content: center;
            position: absolute;
            width:100%;
            top: 450px;
            left:0;
            background-color: transparent;
            @media screen and (max-width:768px){
                flex-direction: column;
                align-items: center;
            }
            .item{
                width:500px;
                height: 350px;
                background-color: #fff;
                margin:0 100px;
	            box-shadow: 0 5px 25px #aaa;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding:40px 20px 30px;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                @media screen and (max-width:1024px){
                    margin:0 20px;
                }
                @media screen and (max-width:768px){
                    margin:10px 0;
                    width:90%;
                }
                > i{
                    color:#333;
                    font-size: 50px;
                    margin-bottom: 20px;
                }
                > h2{
                    font-size: 20px;
                    margin-bottom: 20px;
                }
                > p{
                    color:#777;
                    margin-bottom: 30px;
                    text-align: center;
                }
                > span{
                    width:130px;
                    height: 40px;
                    background-color: #1B4F7D;
                    color:#fff;
                    text-align: center;
                    line-height: 40px;
                    font-weight: 600;
                    font-family:"微軟正黑體";
                    font-size: 16px;
                }
                > div {
                    display: flex;
                    >a{
                        color:#333;
                        margin:0 8px;
                        i {
                            font-size: 40px;
                        }
                    }
                   
                }
            }
        }
    }
    .content{
        width:80%;
        margin:auto;
        margin-top: 100px;
        padding-bottom: 100px;
        background-color: #F4F4F4;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        @media screen and (max-width:768px){
            padding-top: 350px;
        }
        > form {
            box-shadow: 0 5px 25px #aaa;
            display: flex;
            flex-direction: column;
            max-width:1200px;
            width:100%;
            background-color: #fff;
            margin:auto;
            padding:20px 50px;
            @media screen and (max-width:414px){
                padding:20px 25px;
            }
            > h2{
                text-align: center;
                color:#333;
                font-size: 20px;
            }
            > span {
                font-weight: 600;
                margin-bottom: 3px;
            }
            > input[type="text"] ,> input[type="email"] {
                outline: none;
                border:1px #aaa solid; 
                width:100%;
                height: 40px;
                border-radius: 8px;
                margin-bottom: 20px;
                padding:0 10px;
                font-size: 16px;
                font-family: "微軟正黑體";
                box-shadow: 0 5px 25px #f4f4f4;
            }
            > textarea{
                resize: none;
                resize: vertical;
                outline: none;
                border:1px #aaa solid;
                border-radius: 8px;
                padding:10px;
                font-size: 16px;
                margin-bottom: 30px;
            }
            > button {
                width:100px;
                height: 40px;
                background-color: #1B4F7D;
                color:#fff;
                font-weight: 600;
                outline: none;
                border:none;
                cursor: pointer;
                margin:auto;
            }

        }
        > iframe{
                width:100%;
                height: 300px;
                margin:25px auto;
            }
        > .text {
            margin:30px 0;
            padding: 0 20px;
            > p {
                font-size: 21px;
                margin: 3px 0;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            }
        }
    }
}