#course{
    .banner{
        width:100%;
        height:500px;
        position: relative;
        > img {
            width:100%;
            height: 100%;
            object-fit: cover;
        }
        > .text {
            position: absolute;
            top: 250px;
            right:200px;
            color:#fff;
            background-color: #333;
            padding:25px;
            border-radius: 8px;
            @media screen and (max-width:768px){
                left:50px;
                width:250px;
            }
            > h2{
                text-shadow: 0.1em 0.1em 0.2em #000;
                font-size: 40px;
            }
            > p{
                text-shadow: 0.1em 0.1em 0.2em #000;
            }
        }
    }
    .intro {
        padding: 60px 0;
        width:80%;
        margin:auto;
        >h1 {
            text-align: center;
            color:#222;
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 25px;
            position: relative;
            &::before{
                content:'';
                position: absolute;
                top: 60px;
                left:calc(50% - 50px);;
                width:100px;
                height: 2px;
                background-color: #555;
            }
        }
        > .content {
            display: grid;
            grid-template-columns: repeat(3,300px);
            grid-gap: 20px;
            justify-content: space-evenly;
            @media screen and (max-width:1024px){
                grid-template-columns: repeat(3,200px);
            }
            @media screen and (max-width:768px){
                grid-template-columns: repeat(2,300px);
                grid-gap: 25px;
            }
            @media screen and (max-width:650px){
                grid-template-columns: repeat(1,90%);
            }
                > .grid{
                width:100%;
                height: 300px;
                margin-bottom: 25px;
                > .item {
                    width:100%;
                    height: 400px;
                    margin: 20px 0;
                    > a{
                        color:#223;
                        &:hover > h2{
                            text-decoration: underline;
                            transition: all .5s ease;
                        }
                        img{
                            width:100%;
                            height: 180px;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        
    }
    .enter{
        width:100%;
        height: auto;
        background-color: #1C1C1C;
        padding: 60px 0;
        @media screen and (max-width:768px){
            padding: 60px 0;
            min-height: 1000px;
        }
        > h1 {
            text-align: center;
            color:#fff;
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 25px;
            position: relative;
            @media screen and (max-width:768px){
                margin-bottom: 200px;
            }
            &::before{
                content:'';
                position: absolute;
                top: 60px;
                left:calc(50% - 50px);;
                width:100px;
                height: 2px;
                background-color: #fff;
            }
        }
        > .item{
            width:90%;
            margin:40px auto;
            display: flex;
            height: 200px;
            justify-content: center;
            @media screen and (max-width:768px){
                flex-direction: column;
                height: auto;
                width:95%;
            }
            &.item-reverse{
                @media screen and (max-width:768px){
                    flex-direction: column-reverse;
                }
            }
            > img{
                width:300px;
                height: 100%;
                object-fit: cover;
                margin:30px 10px;
                @media screen and (max-width:768px){
                    width:90%;
                }
            }
            > .text{
                width:600px;
                height: 100%;
                margin:30px 10px;
                background-color: #fff;
                padding: 15px;
                @media screen and (max-width:768px){
                    width:95%;
                    height: auto;
                }
                h2{
                    font-size: 24px;
                    font-weight: 500;
                    color:#223;
    
                }
                > p {
                    width:320px;
                    margin-top: 10px;
                    @media screen and (max-width:380px){
                        width:90%;
                    }
                }
            }
        }
    }
    .online{
        padding: 60px 0;
        width:100%;
        margin:auto;
        background-color: #F5F5F5;
        >h1{
            text-align: center;
            color:#222;
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 25px;
            position: relative;
            &::before{
                content:'';
                position: absolute;
                top: 60px;
                left:calc(50% - 50px);;
                width:100px;
                height: 2px;
                background-color: #555;
            }
        }
        > .content{
            width:80%;
            height: auto;
            padding: 80px 50px;
            margin:auto;
            background-color: #fff;
            display: flex;
            justify-content: center;
            @media screen and (max-width:450px){
                flex-direction: column;
            }
            >.line{
                width:1px;
                height: 300px;
                background-color: #333;
                margin:0 20px;
                @media screen and (max-width:450px){
                    width:90%;
                    margin:20px auto;
                    height: 2px;
                }
            }
            > .live{
                width:50%;
                @media screen and (max-width:450px){
                    width:100%;
                }
                > h2{
                    text-align: center;
                    font-weight: 500;
                    font-size: 26px;
                }
                > p{
                    text-align: center;
                    font-size: 23px;
                    color:#1484c4;
                }
                > .step{
                    width:70%;
                    margin:auto;
                    li{
                        font-size: 22px;
                        margin:15px 0;
                    }
                }
            }
            > .prepare{
                width:50%;
                @media screen and (max-width:450px){
                    width:100%;
                }
                > h2{
                    text-align: center;
                    font-size: 26px;
                    font-weight: 500;
                }
                 > p{
                    text-align: center;
                    font-size: 23px;
                    color:#1484c4;
                }
                > .step{
                    width:70%;
                    margin:auto;
                    li{
                        font-size: 22px;
                        margin:15px 0;
                    }
                }
            }
        }
        > .where{
            width:80%;
            height: auto;
            padding: 80px 50px;
            margin:auto;
            >h2{
                text-align: center;
                font-weight: 500;
                font-size: 26px;
                width:100%;
            }
        }
    }
    .entity{
        width:100%;
        background-color: #1C1C1C;
        height: auto;
        padding: 60px 0;
        color:#fff;
        > h1 {
            text-align: center;
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 25px;
            position: relative;
            &::before{
                content:'';
                position: absolute;
                top: 60px;
                left:calc(50% - 50px);;
                width:100px;
                height: 2px;
                background-color: #fff;
            }
        }
        > .content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            > .top{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 30px 0;
                @media screen and (max-width:768px){
                    flex-direction: column;
                }
                > .text {
                    margin:0 25px;
                    > h2{
                        font-size: 33px;
                        margin-bottom: 8px;
                    }
                    > p{
                        font-size: 21px;
                        font-weight: 500;
                        width:300px;
                    }
                }
                > img {
                    width:50%;
                    margin:0 25px;
                    @media screen and (max-width:768px){
                        width:80%;
                        margin-top: 30px;
                    }
                }
            }
            > .center{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                width:80%;
                margin:30px 0;
                @media screen and (max-width:520px){
                    width:90%;
                }
                > iframe{
                    width:100%;
                    height: 300px;
                    margin:25px auto;
                }
                > .text {
                    margin:30px 0;
                    > p {
                        font-size: 21px;
                        margin: 3px 0;
                        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    }
                }
            }
            
        }
    }
    .contact{
        width:100%;
        height: 300px;
        background-color: #f1f1f1;
        display: flex;
        justify-content: center;
        align-items: center;
        > a{
            width:300px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            border-radius: 30px;
            background-color: #FF876E;
            color:#fff;
            font-weight: 600;
            font-size: 20px;
            &:hover{
                background-color: #FF5D2D;
                transition: all .3s ease;
            }
        }
    }
}