*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#index_content{
    min-width:100%;
    margin-top:60px;
    .responsive{
        min-width:100%;
        position: relative;
        >div{
            min-width:100%;
            cursor: grab;
            >img{
                min-width: 100%;
                object-fit: cover;
            }
        }
    }
    #course{
        background-color: #30415D;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin-top: 0;
        padding: 40px 0;
        > h1{
            width:100%;
            text-align: center;
            color:#EEC71C;
            font-size: 30px;
            margin-bottom: 30px;
        }
        .content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            @media screen and (max-width:960px){
                flex-direction: column;
            }
            h2{
                text-align: center;
                color:#fff;
                margin-bottom: 10px;
                position: relative;
                &::before{
                    content:'';
                    position: absolute;
                    bottom: -8px;
                    left:50%;
                    transform: translateX(-50%);
                    width:50px;
                    height: 3px;
                    background-color: #fff;
                }
            }
             img{
                margin: 10px 50px 50px 50px;
                width:250px;
                @media screen and (max-width:500px){
                    width:90%;
                    margin:10px auto;
                    margin-bottom: 30px;
                    display: block;
                    
                }
            }
            h2{
                width:100%;
                text-align: center;
                color:#EEC71C;
                font-size: 30px;
                margin-bottom: 30px;
            }
            .contentText{
                font-family: '微軟正黑體';
                margin: 10px 50px;
                h3{
                    font-size: 24px;
                    color:#ff0;
                    margin-bottom: 15px;
                    @media screen and (max-width:500px){
                        text-align: center;
                    }
                }
                p{
                    width:400px;
                    color:#fff;
                    @media screen and (max-width:500px){
                        width:95%;
                        margin:10px auto;
                    }
                }
                a{
                    display: block;
                    width: 150px;
                    height: 50px;
                    background-color: #EEC71C;
                    color: #fff;
                    text-align: center;
                    line-height: 50px;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    border-radius: 6px;
                    margin-top: 20px;
                    font-weight: 600;
                    &:hover{
                        transform: scale(1.1);
                        transition: .5s;
                    }
                }
            }
        }
    }
    #nurture{
        padding: 80px 0 100px 0;
        >h1{
            width:100%;
            text-align: center;
            color:#1484c4;
            font-size: 30px;
            margin-bottom: 30px;
        }
        .content{
            .contentText{
                width:900px;
                margin:auto;
                font-family: "微軟正黑體";
                margin-top: 100px;
                display: flex;
                justify-content: space-around;
                @media screen and (max-width:900px){
                    width:90%;
                    flex-direction: column;
                    margin:50px auto;
                    
                }
                > div{
                    width:400px;
                    height: 220px;
                    text-align: center;
                    margin: 0 50px;
                    border: 1px #ddd solid;
                    border-radius: 8px;
                    padding: 15px;
                    box-sizing: border-box;
                    box-shadow: 0px 5px 15px #ccc;
                    cursor:default;
                    &:hover{
                        transform: translateY(-5px);
                        transition: all .5s ease;
                    }
                    @media screen and (max-width:900px){
                    width:95%;
                    flex-direction: column;
                    margin:20px auto;
                    
                }
                }
                h2{
                    color:#1484c4;
                    margin-bottom: 5px;
                }
            }
            .step{
                display: flex;
                justify-content: center;
                margin:auto;
                align-items: center;
                @media screen and (max-width:920px){
                    flex-direction: column;
                }
                .stepItem{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    > i{
                        font-size: 60px;
                        color:#E93A55;
                        @media screen and (max-width:1200px){
                            font-size: 40px;
                        }
                        @media screen and (max-width:920px){
                            display: none;
                        }
                    }
                    > div{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width:200px;
                        @media screen and (max-width:1200px){
                            width:150px;
                        }
                        @media screen and (max-width:920px){
                            margin: 20px 0;
                        }
                        >img{
                            width:150px;
                            height: 120px;
                            object-fit: contain;
                        }
                        > i {
                            font-size: 60px;
                            color:#E93A55;
                            width:120px;
                            height: 120px;
                            text-align: center;
                            line-height: 120px;
                            border:1px #E93A55 solid;
                            border-radius: 50%;
                            @media screen and (max-width:1200px){
                                font-size: 40px;
                                width:80px;
                                height: 80px;
                                line-height: 80px;
                            }
                            @media screen and (max-width:920px){
                                font-size: 60px;
                                width:120px;
                                height: 120px;
                                line-height: 120px;
                            }
                        }
                        > p {
                            font-size: 21px;
                            font-weight: 600;
                            color:#E93A55;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
    #site{
        background-color: #30415D;
        padding: 50px 0;
        > h1{
            width:100%;
            text-align: center;
            color:#EEC71C;
            font-size: 30px;
            margin-bottom: 30px;
        }
        a.seemore{
            display: block;
            width:150px;
            height: 50px;
            background-color: #EEC71C;
            color:#fff;
            text-align: center;
            line-height: 50px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            margin:auto;
            border-radius: 6px;
            font-weight: 600;
            &:hover{
                transform: scale(1.1);
                transition: .5s;
            }
        }
        .content{
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width:850px){
                flex-direction: column;
            }
            > .siteItem{
                width:300px;
                height: 280px;
                margin:20px 30px;
                @media screen and (max-width:1100px){
                    width:250px;
                    height: 280px;
                    margin:20px 20px;
                }
                @media screen and (max-width:850px){
                    width:350px;
                    height: 300px;
                    margin:20px auto;
                }
                @media screen and (max-width:400px){
                    width:90%;
                }
                > .imgBox {
                    width:300px;
                    height: 200px;
                    overflow: hidden;
                    border-radius: 6px;
                    @media screen and (max-width:1100px){
                        width:250px;
                    }
                    @media screen and (max-width:850px){
                        width:350px;
                        height: 250px;
                    }
                    @media screen and (max-width:400px){
                        width:90%;
                        margin: auto;
                    }
                    >img{
                        width:100%;
                        height: 100%;
                        object-fit: cover;
                        cursor: pointer;
                        border-radius: 6px;
                        &:hover{
                            transform: scale(1.1);
                            transition: all .5s ease;
                        }
                    }
                }
                > h2{
                    text-align: center;
                    color:#fff;
                    margin-top: 10px;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                }
            }
        }
    }
    #courseImgModule{
        position: fixed;
        top: 0;
        left:0;
        width:100%;
        height: 100vh;
        z-index: 99999999999999999999999;
        display: none;
        > .back{
            position: absolute;
            top: 0;
            left:0;
            background-color: rgba(0, 0, 0,.5);
            width:100%;
            height: 100vh;
        }
        > .moduleBox{
            width:auto;
            height: 95%;
            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%,-50%);
            >img{
                height: 100%;
                border:8px #fff solid;
            }
            > i{
                position: absolute;
                top: 15px;
                right:25px;
                font-size: 36px;
                cursor: pointer;
            }
        }
    }
    
    #teach{
        background-color: #f1f1f1;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin-top: 0;
        padding: 40px 0;
        >.signup{
            margin:auto;
            text-align: center;
            display: block;
            width:300px;
            height: 60px;
            line-height: 60px;
            background-color: #F29500;
            color:#fff;
            font-weight: 600;
            border-radius: 40px;
            font-size: 18px;
            &:hover{
                transition: .5s;
                transform: scale(1.1);
            }
        }
        > h1{
            width:100%;
            text-align: center;
            color:#1484c4;
            font-size: 30px;
            margin-bottom: 30px;
        }
        >.content{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width:50%;
            margin:0 auto;
            @media screen and (max-width:784px){
                width:80%;
            }
            >.item{
                color:#333;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                letter-spacing:2.5px;
                margin-bottom: 50px;
                padding: 0 15px;
                @media screen and (max-width:784px){
                    align-items: center;
                }
                >h3{
                    border-bottom: 5px #eec71c solid;
                    font-size: 30px;
                    margin: 0 -15px;
                    margin-bottom: 12px;
                    
                }
                >p{
                    font-size: 18px;
                    line-height: 1.6;
                    margin-top: 12px;
                }
                >.box{
                    display: flex;
                    margin:30px 0;
                    @media screen and (max-width:784px){
                        flex-direction: column;
                        align-items: center;
                    }
                    img{
                        width:150px;
                        margin-top: 12px;
                        margin-right: 30px;
                        @media screen and (max-width:784px){
                            margin-right: 0px;
                        }
                    }
                    .text{
                        display: flex;
                        flex-direction: column;
                        margin-top: 12px;
                        margin-left: 30px;
                        @media screen and (max-width:784px){
                            margin-left: 0px;
                        }
                        >h4{
                            color:#1484c4;
                            font-weight: 600;
                            font-size: 18px;
                            margin-bottom: 6px;
                        }
                    }
                }
            }
        }
    }
    #store{
        padding: 80px 0 100px 0;
        >h1{
            width:100%;
            text-align: center;
            color:#1484c4;
            font-size: 30px;
            margin-bottom: 30px;
        }
    }
}
