#latestnews{
    padding-top: 8em;
    min-height: 600px;
    height: auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-bottom: 3em;
    >.search {
        width:60%;
        margin:auto;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:1024px) {
            width:80%;
        }
        > input{
            width:95%;
            height: 40px;
            padding:0 10px;
            outline: none;
            border:1px #666 solid;
            font-size: 16px;
        }
        > button {
            width:40px;
            height: 40px;
            background-color:rgb(9, 76, 116);
            color:#fff;
            outline: none;
            border:none;
            cursor: pointer;
            &:hover{
                background-color: rgb(6, 56, 85);
            }
        }
    }
    > h1{
        text-align: center;
        margin-bottom: 25px;
        color:#1484c4;
    }
    > .post{
        width:60%;
        margin: auto;
        display: flex;
        flex-direction: column;
        @media screen and (max-width:1024px){
            width:80%;
        }
        @media screen and (max-width:500px){
            width:90%;
        }
        .post-item{
            display: flex;
            border-bottom: 1px #ccc solid;
            padding:15px 0;
            display: none;
            @media screen and (max-width:1024px){
                flex-direction: column;
                width:90%;
                margin: auto;
            }
            &.isShow{
                display: flex;
            }
            &.onShow{
                display: none;
                position: fixed;
                top: -9999999999999999999px;
                left:-99999999999999999999px;
                z-index: -99999999999999999;
                opacity: 0;
            }
            >img{
                width:350px;
                max-width:350px;
                height: 210px;
                object-fit: cover;
                margin-right: 25px;
                @media screen and (max-width:1024px){
                    min-width:100%;
                    margin-right: 0px;
                }
            }
            @media screen and (max-width:1024px){
                width:90%;
            }
            > .content{
                width:500px;
                padding: 8px;
                position: relative;
                @media screen and (max-width:1024px){
                    width:90%;
                    padding-bottom: 80px; 
                    margin: auto;
                }
                >p{
                    color:#777;
                    font-size: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }
                > .continue{
                    position: absolute;
                    bottom: 15px;
                    right:15px;
                    width:200px;
                    height: 40px;
                    padding:0 12px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #fff;
                    border:2px #333 solid;
                    color:#333;
                    font-size: 14px;
                    &:hover{
                        background-color: #333;
                        color:#fff;
                        transition: all .5s ease;
                    }
                }
            }
        }
        .title{
            height: 70px;
            line-height: 70px;
            font-size: 22px;
            padding: 0 10px;
            color:#333;
            font-weight: 600;
            display: block;
            position: relative;
            overflow : hidden;
            text-overflow : ellipsis;
            white-space : nowrap;
        }
    }
    > .page{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:60%;
        margin: 50px auto;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        >.center{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            >a{
                cursor: pointer;
                color:#111;
                width:35px;
                height: 35px;
                text-align: center;
                line-height: 35px;
                &:hover{
                    background-color: #666;
                    color:#fff;
                }
                &.focus{
                    font-size: 18px;
                    font-weight: 600;
                    color:#1484c4;
                }
                >i{
                    cursor: pointer;
                }
                >li{
                    cursor: pointer;
                   
                }
            }
           
        }
    }
}