#photobox{
    .box{
        padding: 100px 0;
         width:100%;
                > h2 {
                    text-align: center;
                    font-weight: 500;
                    margin: 25px 0;
                    font-size: 24px;
                }
                > .imgbox {
                        display: grid;
                        grid-template-columns: 300px 300px 300px;
                        grid-template-rows: 300px 300px 300px;
                        grid-column-gap: 30px;
                        grid-row-gap: 30px;
                        justify-content: center;
                        @media screen and (max-width:1024px){
                            grid-template-columns: 200px 200px 200px;
                            grid-template-rows: 200px 200px 200px;
                        }
                        @media screen and (max-width:768px){
                            grid-template-columns: 250px 250px ;
                            grid-template-rows: 250px 250px 250px 250px;
                        }
                        @media screen and (max-width:520px){
                            grid-template-columns: 90% ;
                            grid-template-rows: repeat(9,300px);
                            grid-row-gap: 100px;
                            margin-bottom: 50px;
                        }
                    >img {
                        width:100%;
                        height: 100%;
                        object-fit: cover;
                        cursor: pointer;
                    }
    
                }
            }
}


.lightBox{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    width:100%;height: 100vh;
    z-index: 99999999999;
    display: none;
    > .back{
        width:100%;
        height: 100vh;
        background-color: rgba(0,0,0,.5);
        position: absolute;
        top: 0;
        left:0;
    }
    > .lightBoxImgbox{
        width:auto;
        height: 600px;
        border:8px #fff solid;
        position: relative;
        &:hover > i{
            opacity: 1;
            transition: .5s;
        }
        > img{
            height: 100%;
            
        }
        > i{
            position: absolute;
            top: 10px;
            right:10px;
            font-size: 36px;
            cursor: pointer;
            opacity: 0;
        }
    }
  }