#text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 56%;
  margin: auto;
  padding-top: 8em;
  padding-bottom: 50px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media screen and (max-width: 1024px) {
  #text {
    width: 80%;
  }
}

#text > img {
  width: 100%;
  margin: 25px auto;
  min-height: 200px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 550px) {
  #text > img {
    height: 300px;
  }
}

#text > h2 {
  font-size: 30px;
  color: #333;
  margin: auto;
  width: 100%;
  display: block;
}

#text > p {
  width: 100%;
  color: #666;
  margin: 25px auto;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  #text > p {
    margin: 25px auto 75px;
  }
}

#text > .smallVideoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

#text > .smallVideoBox > video {
  margin: 5px 0;
  margin-right: 5px;
}

#text > .smallImgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 500px) {
  #text > .smallImgBox {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#text > .smallImgBox > img {
  width: 30%;
  height: 250px;
  margin: 5px 0;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #text > .smallImgBox > img {
    width: 48%;
  }
}

@media screen and (max-width: 500px) {
  #text > .smallImgBox > img {
    width: 100%;
    margin-right: 0;
    margin: 10px 0;
  }
}

#text > .moudel {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999999;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#text > .moudel > .back {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#text > .moudel > .moudel-imgbox {
  max-height: 600px;
  width: auto;
  border: 8px #fff solid;
  border-radius: 5px;
  overflow: hidden;
  z-index: 999999999999999;
  position: relative;
}

#text > .moudel > .moudel-imgbox > img {
  height: 600px;
  width: auto;
}

#text > .moudel > .moudel-imgbox > i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  cursor: pointer;
}

#error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#error > img {
  width: 250px;
  margin: 15px 0;
}

#error > h1 {
  color: #f00;
  font-size: 50px;
  margin: 15px 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#error > a {
  color: #111;
  margin: 15px 0;
  font-size: 24px;
}

#error > a:hover {
  border-bottom: 2px #000 solid;
}
/*# sourceMappingURL=post.css.map */