#site{
    .banner{
        width:100%;
        height: 600px;
        position: relative;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        > img{
            width:100%;
            height: 100%;
            object-fit: cover;
        }
        >h2{
            position: absolute;
            top: 250px;
            left:150px;
            color:#fff;
            font-weight: 600;
            font-size: 48px;
            text-shadow: 0px 2px 5px #000;
            @media screen and (max-width:1024px){
                left:100px;
            }
            @media screen and (max-width:700px){
                left:50px;
            }
        }
        > p {
            position: absolute;
            top:320px;
            left:150px;
            color:#fff;
            font-weight: 600;
            font-size: 20px;
            text-shadow: 0px 2px 5px #000;
            @media screen and (max-width:1024px){
                left:100px;
            }
            @media screen and (max-width:700px){
                left:50px;
            }
            @media screen and (max-width:500px){
                top:400px;
            }
        }
    }
    .benfen{
        display: flex;
        justify-content: center;
        padding: 30px 25px;
         @media screen and (max-width:768px){
              flex-direction: column-reverse;
          }
        >.left {
              width:500px;
              display: flex;
              flex-direction: column;
              justify-content: center;
               @media screen and (max-width:1024px){
                  width:450px;
              }
              @media screen and (max-width:768px){
                  margin: 20px auto;
              }
              @media screen and (max-width:600px){
              width:90%;
              }
               > button {
                  width:180px;
                  height: 40px;
                  outline: none;
                  border:none;
                  font-size: 17px;
                  color:#333;
                  font-weight: 600;
                  background-color: rgba(255, 135, 110, 1);
                  cursor: pointer;
              }
             >h2 {
                  @media screen and (max-width:1024px){
                      padding:0 15px;
                  }
              }
              >p{
                  text-align: left;
                  margin-bottom: 20px;
                  @media screen and (max-width:1024px){
                      padding:0 15px;
                  }
              }
          }
        > .right {
          width:500px;
          position: relative;
           @media screen and (max-width:1024px){
                width:450px;
            }
            @media screen and (max-width:768px){
                margin: 20px auto;
            }
            @media screen and (max-width:600px){
                width:90%;
            }
            >.seemore{
              display: block;
              width:150px;
              height: 40px;
              background-color: #FF876E;
              color:#fff;
              font-weight: 600;
              text-align: center;
              line-height: 40px;
              margin-top: 10px;
              float: right;
            }
          >.imgbox{
            width:500px;
            height: 350px;
            display: flex;
            overflow: hidden;
            @media screen and (max-width:1024px){
                width:100%;
            }
            @media screen and (max-width:600px){
                width:95%;
                height: 300px;
            }
            > .imgList{
              min-width:100%;
              height: 100%;
              transform: translateX(0%);
              transition: all .5s ease;
              object-fit: cover;
              cursor: pointer;
            }
          } 
           .leftbtn{
              position: absolute;
              top: calc(50% - 18px);
              left:-36px;
              font-size: 36px;
              cursor: pointer;
              color:rgba(27, 79, 125, .8);
            }
           .rightbtn{
              position: absolute;
              top: calc(50% - 18px);
              right:-36px;
              font-size: 36px;
              cursor: pointer;
              color:rgba(27, 79, 125, .8);
            }
        }
      }
      .leaseModule{
          position: fixed;
          z-index: 999999;
          top:0;
          left:0;
          width:100%;
          height: 100vh;
          background: rgba(0,0,0,.5);
          justify-content: center;
          align-items: center;
          display: none;
          .contentModule{
              width:350px;
              height: 530px;
              background-color: #fff;
              border-radius: 8px;
              overflow: hidden;
              >.header{
                  widows: 100% ;
                  height: 50px;
                  background-color: #FF876E;
                  text-align: center;
                  line-height: 50px;
                  font-weight: 600;
                  position: relative;
                  > i{
                      position: absolute;
                      top: 50%;
                      right:10px;
                      transform: translateY(-50%);
                      font-size: 24px;
                      cursor: pointer;
                  }
              }
              > form{
                  width:100%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  
                  >label{
                      padding:3px 0;
                      >p{
                        font-weight: 600;
                        margin-bottom: 1px;
                        >span{
                            font-size: 14px;
                            color:#555;
                        }
                      }
                      >input{
                          width:300px;
                          height: 28px;
                          padding: 0 5px;
                          border:1px #999 solid;
                          font-size: 14px;
                          border-radius: 6px;
                      }
                      >textarea{
                        width:300px;
                        height: 40px;
                        padding: 6px 5px;
                        border:1px #999 solid;
                        font-size: 16px;
                        border-radius: 6px;
                      }
                      >input[type="submit"]{
                          background-color: #FF876E;
                          height:40px;
                          border:none;
                          outline: none;
                          border-radius: 0;
                          font-weight: 600;
                          cursor: pointer;
                          &:hover{
                            background-color: rgb(250, 104, 75);
                            transition: .5s;
                          }
                      }
                  }
                  
              }
          }
      }
}

.lightBox{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left:0;
    width:100%;height: 100vh;
    z-index: 99999999999;
    display: none;
    > .back{
        width:100%;
        height: 100vh;
        background-color: rgba(0,0,0,.5);
        position: absolute;
        top: 0;
        left:0;
    }
    > .lightBoxImgbox{
        width:auto;
        height: 600px;
        border:8px #fff solid;
        position: relative;
        &:hover > i{
            opacity: 1;
            transition: .5s;
        }
        @media screen and (max-width:900px){
            width:90%;
            height: auto;
        }
        > img{
            height: 100%;
            @media screen and (max-width:900px){
                width:100%;
                height: auto;
            }
        }
        > i{
            position: absolute;
            top: 10px;
            right:10px;
            font-size: 36px;
            cursor: pointer;
            opacity: 0;
            @media screen and (max-width:1200px){
                opacity: 1;
            }
        }
    }
  }