*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#header{
    width:100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999999999999;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    #menu{
        position: absolute;
        top: calc(50% - 20px);
        right:25px;
        font-size: 40px;
        color:#1484c4;
        z-index: 99999;
        cursor: pointer;
        display: none;
    }
    #menu.open{
        color:#fff;
        &::before{
            content : "\f00d";
        }
    }
   
    #logo{
        display: block;
        width:180px;
        height: 46px;
        background-size: contain;
        >img{
            width:100%;
        }
    }
   
    ul{
        display: flex;
        height: 100%;
        li{
            display: inline-block;
            width:120px;
            height: 100%;
            a{
                color:#616e76;
                font-size: 17px;
                font-weight: 600;
                width:100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:hover{
                    background-color: #F1F1F1;
                    border-bottom: 10px #1484c4 solid;
                }
            }
        }
    }

    @media screen and (max-width:1024px){
        justify-content: flex-start;
        padding:0;
        position: fixed;
        z-index: 99999999;
        #menu{
            display: block;
        }
        #logo{
            margin-left:30px 
        }
        ul{
            position: fixed;
            top: -100vh;
            left: 0;
            width:100%;
            height: 100vh;
            background-color: rgba(20, 132, 196, .8);
            z-index: 999;
            flex-direction: column;
            justify-content: center;
            transition: .5s;
            li{
                width:100%;
                height: 80px;
                text-align: center;
                a{
                    color:#fff;
                    font-size: 28px;
                    &:hover{
                        background-color: transparent;
                        border-bottom: none;
                    }
                }
            }
        }
        ul.open{
            top:0;
        }
    }
}
footer{
    background-color: #3A3A3A;
    width:100%;
    height: 380px;
    color:#fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif,"微軟正黑體";
    @media screen and (max-width:850px){
        height: 880px;
    }
    .contact{
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        padding-top: 50px;
        width:100%;
        height: 300px;
        @media screen and (max-width:850px){
            flex-direction: column;
            align-items:start;
            height: 800px;
            padding-left: 50px;
        }
        h2{
            font-weight: normal;
            margin-bottom: 10px;
        }
        .footerLogo{
            img{
                width:250px;
            }
            p{
                width:300px;
                margin-top: 20px;
            }
        }
        .contactus{
            text-align: left;
            
            p{
                margin: 3px 0;
            }
        }
        .about{
            text-align: left;
            a{
                display: block;
                color:#fff;
                margin: 3px 0;
            }
        }
        .link{
            text-align: left;
            .icon{
                display: inline-block;
                color:#fff;
                margin: 0px 7px;
                >i{
                    font-size: 40px;
                }
            }
            .lineqrcode{
                width:133px;
                margin:auto;
                display: block;
                margin-top: 12px;;
            }
        }
    }
    .copyright{
        width:100%;
        height: 80px;
        line-height: 80px;
        text-align: center;
        >a{
            color:#1484c4;
            font-weight: 600;
            font-size: 17px;
        }
    }
}